@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: local('Raleway Regular'), local('Raleway-Regular'),
        url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff'),
        url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.eot');
    src: local('Raleway Medium'), local('Raleway-Medium'),
        url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.eot');
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
        url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff'),
        url('../fonts/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: local('Raleway Bold'), local('Raleway-Bold'),
        url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Regular.eot');
    src: local('Lora Regular'), local('Lora-Regular'),
        url('../fonts/Lora-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lora-Regular.woff2') format('woff2'),
        url('../fonts/Lora-Regular.woff') format('woff'),
        url('../fonts/Lora-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


h1 {
    @media (max-width:1660px) {
        font-size: 46px !important;
    }
	@media (max-width:1440px) {
		font-size: 42px !important; 
	}
	@media (max-width:1280px) {
		font-size: 40px !important;
	}
	@media (max-width:1099px) {
		font-size: 39px !important;
	}
	@media (max-width:767px) {
		font-size: 38px !important;
	}
	@media (max-width:567px) {
		font-size: 32px !important; 
	}
	@media (max-width:467px) {
		font-size: 28px !important;
	}
	@media (max-width:390px) {
		font-size: 26px !important;
	}
	@media (max-width:375px) {
		font-size: 24px !important;
	}

}
h2 {
	@media (max-width:1660px) {
        font-size: 42px !important;
    }
	@media (max-width:1440px) {
		font-size: 38px !important; 
	}
	@media (max-width:1280px) {
		font-size: 36px;
	}
	@media (max-width:1099px) {
		font-size: 34px;
	}
	@media (max-width:767px) {
		font-size: 32px !important;
	}
}

h3 {
	@media (max-width:1660px) {
        font-size: 36px !important;
    }
	@media (max-width:1440px) {
		font-size: 34px !important; 
	}
	@media (max-width:1280px) {
		font-size: 32px;
	}
	@media (max-width:1099px) {
		font-size: 30px;
	}
	@media (max-width:767px) {
		font-size: 28px !important;
	}
}

h4 {
	@media (max-width:1660px) {
        font-size: 34px !important;
    }
	@media (max-width:1440px) {
		font-size: 30px !important; 
	}
	@media (max-width:1280px) {
		font-size: 26px !important;
	}
	@media (max-width:1099px) {
		font-size: 24px !important;
	}
	@media (max-width:767px) {
		font-size: 20px !important;
	}
	@media (max-width:567px) {
		font-size: 19px !important;
	}
	@media (max-width:467px) {
		font-size: 22px !important;
	}
	@media (max-width:376px) {
		font-size: 18px !important;
	}

}

h5 {
	@media (max-width:1660px) {
		font-size: 30px !important;
	}
	@media (max-width:1440px) {
		font-size: 24px !important;
	}
	@media (max-width:1280px) {
		font-size: 22.5px !important;
	}
	@media (max-width:1099px) {
		font-size: 21.5px !important;
	}
	@media (max-width:767px) {
		font-size: 20px !important;
	}
	@media (max-width:567px) {
		font-size: 18px !important;
	}
	@media (max-width:467px) {
		font-size: 17px !important;
	}
	@media (max-width:376px) {
		font-size: 16px !important;
	}
}

h6 {
	@media (max-width:1660px) {
		font-size: 17px !important;
	}
	@media (max-width:1440px) {
		font-size: 16px !important;
	}
	@media (max-width:1280px) {
		font-size: 15.5px !important;	
	}
	@media (max-width:1099px) {
		font-size: 15px !important;
	}
	@media (max-width:767px) {
		font-size: 14px !important;
	}
	@media (max-width:567px) {
		font-size: 16px !important;
	}
	@media (max-width:365px) {
		font-size: 14px !important;
	}
}

p {
	@media (max-width:1660px) {
		font-size: 17px !important;
	}
	@media (max-width:1440px) {
		font-size: 16px !important;
	}
	@media (max-width:1280px) {
		font-size: 15.5px !important;	
	}
	@media (max-width:1099px) {
		font-size: 15px !important;
	}
	@media (max-width:767px) {
		font-size: 14px !important;
	}
	@media (max-width:567px) {
		font-size: 16px !important;
	}
	@media (max-width:365px) {
		font-size: 14px !important;
	}
}