.calculator {

    &__main {

    }

    &-hero {

        position: relative;

        .banner-big-letter {
            position: absolute;
            z-index: 0;

            left: 0;
            top: 20%;
        
            @media (max-width:567px) {
                width: 200px;
                height: 200px;
                top: 30%;
            }

            path {
                fill: #f8eeee;
            }
        }

        .breadcrumbs {
            color: var(--black);
            flex-wrap: nowrap;
            @media (max-width:390px) {
                flex-wrap: wrap;
            }

            a {
                color: var(--black);
            }

            &__container {
                position: unset;
                
            }
        }

        h2 {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 56px;
            text-transform: uppercase;
            color: var(--black); 

            margin: 0;
            @media (max-width:700px) {
                padding: 0 24px;
                margin-top: 36px;
            }
            @media (max-width:467px) {
                padding: 0 16px;
                font-size: 22px !important;
                font-weight: bold;
            }
        }

        h5 {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 32px;
            color: var(--black);

            max-width: 600px;
        }
        h6 {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 28px !important;
            background: linear-gradient(90deg, #c2a959 0%, #f9efb4 48.33%, #c2a959 98.16%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &__container {
            width: 100%;
            z-index: 4;
        }
        &__wrapper {
            display: flex;
            justify-content: space-between;
            gap: 36px;

           

            @media (max-width:700px) {
                padding: 0 24px;
            }
            @media (max-width:676px) {
                flex-direction: column;
                gap: 0;
            }
            
        }

        &__next {
            display: flex;
            flex-direction: column;
            justify-content: center;

            animation: zoom 4s infinite ease-in-out;



            @keyframes zoom {
                0% {
                    transform: scale(0.7);
                }
                25% {
                    transform: scale(0.85);
                }
                75% {
                    transform: scale(0.85);
                }
                100% {
                    transform: scale(0.7);
                }
            }

            @media (max-width:676px) {
                order: 3;
                align-items: center;

            
            }
            @media (max-width:567px) {
                transform: scale(.7);
            }

            h6 {
                @media (max-width:676px) {
                    margin: 12px 0;
                }
            }

            &--buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 16px;

                margin-bottom: 16px;
            }
        }

    }



    &-stage {

        background-color: #242424;

        height: 100vh;

        &.odd {
            .calculator-stage__wrapper {
                @media (max-width:1099px) {
                    flex-direction: column-reverse;
                }
            }
        }

        &__container {
            width: 100%;
        }

        &__wrapper {
            display: flex;
            justify-content: space-between;
            gap: 32px;

            @media (max-width:1440px) {
                gap: 16px;
            }
            @media (max-width:1099px) {
                flex-direction: column;

            }
        }
        &__img {
            width: 44%;

            @media (max-width:1099px) {
                width: 100%;
               
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;

                @media (max-width:1099px) {
                    max-height: 400px;
                    object-position: center;
                }
                @media (max-width:767px) {
                    max-height: 200px;
                }

            }
        }

        &__next {

            font-family: var(--font-family);
            font-weight: 500;
            font-size: 28px;
            background: linear-gradient(90deg, #c2a959 0%, #f9efb4 48.33%, #c2a959 98.16%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            display: flex;
            gap: 16px;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            animation: zoom 4s infinite ease-in-out;

            @media (max-width:567px) {
                display: none;
            }
            
        }
    }
}


.calculator__main {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100dvh;
    overflow-x: hidden;

    @media (max-width:567px) {
        scroll-snap-type: unset;
    }

    .calculator-stage {
        height: 100%;
        scroll-snap-align: start;

        @media (max-width:567px) {
            height: auto;
            margin: 0;
            padding-top: 95px;
            padding-bottom: 0;

            background-color: #242424;
        }

        
    }
    .calculator-hero {
        height: 100vh;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        background-color: #fff;

        @media (max-width:567px) {
            height: auto;
            padding-top: 95px;
           
        }
        

        .container {
            height: auto;
        }
    }
}



.calculator-stage__form {
    flex: 1;
    .form {
        
        // width: 100%;

        background: #303030;
        padding: 24px 48px;

        @media (max-width:1440px) {
            padding: 20px 40px;
        }
        @media (max-width:1099px) {
            width: unset;
        }
        @media (max-width:767px) {
            padding: 20px 24px;
        }
        @media (max-width:567px) {
            padding: 20px 16px;
        }

        &__field {
            margin-bottom: 20px;

            @media (max-width:1660px) {
                margin-bottom: 12px;
            }

            &--guests, &--price-segment {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &--guests {
                .form__input {
                    background-color: transparent;
                    width: fit-content;
                    border: none;
                    display: flex;
                    width: 50px;

                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 24px;
                    text-transform: uppercase;
                    color: var(--gray);

                    text-align: center;

                    padding-bottom: 2px;

                    border-bottom: 2px solid #b8a23e;

                }
            }

            &--price-segment {
                select {
                    background-color: transparent;
                    border: 1px solid #F8D851;

                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 14px;
                    color: var(--gray);

                    padding: 6px 16px;

                    text-align: left;
                }
            }
        }
        
        &__label {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 24px;
            color: var(--gray);

            
            @media (max-width:1440px) {
                font-size: 20px !important;
            }
            @media (max-width:767px) {
                font-size: 18px !important;
            }
            @media (max-width:567px) {
                font-size: 16px !important;
            }
        }
        
        &__input, &__select {

        }
        
        &__budget {
            margin-top: 20px;
            
            &-title {


                font-family: var(--font-family);
                font-weight: 700;
                font-size: 32px;
                text-transform: uppercase;
                text-align: center;
                color: var(--white);
                margin-bottom: 10px;

                @media (max-width:1440px) {
                    font-size: 24px !important;
                }
            }
        }
        
        &__menu {
            margin-bottom: 20px;

            background: var(--black);
            
            &-title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                font-family: var(--font-family);
                font-weight: 700;
                font-size: 24px;
                color: var(--black);

                padding: 12px 16px;

                margin-bottom: 10px;

                background: linear-gradient(90deg, #c2a959 0%, #f9efb4 48.33%, #c2a959 98.16%);

                @media (max-width:1440px) {
                    padding: 8px 12px;
                    font-size: 18px !important;
                }
            }
            
            &-list {
                list-style: none;
                padding: 0;
                margin: 0;
            }
            
            &-item {
                display: flex;
                justify-content: space-between;

                

                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                color: var(--white);

                padding: 8px 16px;

                @media (max-width:1440px) {
                    font-size: 16px;
                }
                @media (max-width:1199px) {
                    padding: 8px 8px;
                }
                @media (max-width:467px) {
                    font-size: 14px;
                }
                
                input[type="checkbox"] {
                    margin-right: 10px;
                }
                
                &-price {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    text-align: right;
                    color: var(--white);
                    margin-left: auto;
                }
            }
        }
        
        &__rent {
            background: var(--black);
            &-title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                font-family: var(--font-family);
                font-weight: 700;
                font-size: 24px;
                color: var(--black);

                padding: 12px 16px;

                margin-bottom: 10px;

                background: linear-gradient(90deg, #c2a959 0%, #f9efb4 48.33%, #c2a959 98.16%);

                @media (max-width:1660px) {
                    margin-top: 0px;
                }

                @media (max-width:1440px) {
                    padding: 8px 12px;
                    font-size: 18px !important;
                }
            }
            
            &-list {
                list-style: none;
                padding: 0;
            }
            
            &-item {
                display: flex;
                justify-content: space-between;

                

                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                color: var(--white);

                padding: 8px 16px;

                @media (max-width:1440px) {
                    font-size: 16px;
                }
                @media (max-width:1199px) {
                    padding: 8px 8px;
                }
                @media (max-width:467px) {
                    font-size: 14px;
                }
                
                input[type="radio"] {
                    margin-right: 10px;
                }
                
                &-price {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    text-align: right;
                    color: var(--white);
                    margin-left: auto;

                    @media (max-width:1199px) {
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}



.calculator-stage__buttons {

    margin-top: 32px;

    &--wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width:676px) {
            flex-direction: column-reverse;
            gap: 16px;
            padding-bottom: 124px;
        }

        .ui-button-primary {
            height: fit-content;

            @media (max-width:676px) {
                width: 100%;
                align-items: center;
                justify-content: center;
                font-size: 22px;
                padding: 24px ;
            }
            @media (max-width:500px) {
                font-size: 18px;
                padding: 20px 12px;
            }
            @media (max-width:390px) {
                font-size: 16px;
                padding: 16px 12px;
            }
        }
    }

    &--right {

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;

        .ui-button-primary {
            background: linear-gradient(90deg, #c2a959 0%, #f9efb4 48.33%, #c2a959 98.16%);
            color: #000;
            -webkit-text-fill-color: unset;
           

            @media (max-width:676px) {
                width: 100%;
                align-items: center;
                justify-content: center;
                font-size: 22px;
                padding: 24px ;
            }
            @media (max-width:500px) {
                font-size: 18px;
                padding: 20px 12px;
            }
            @media (max-width:390px) {
                font-size: 16px;
                padding: 16px 12px;
            }
        }

    }


    &-result {
        background: #303030;
        padding: 24px 34px;

        font-family: var(--font-family);
        font-weight: 700;
        font-size: 22px;

        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width:676px) {
            width: -webkit-fill-available;
            padding: 24px;
        }
        @media (max-width:500px) {
            font-size: 18px;
            padding: 20px 12px;
        }
        @media (max-width:435px) {
            font-size: 16px;
        }
        @media (max-width:390px) {
            font-size: 16px;
            padding: 16px 12px;
        }

        span {
            background: linear-gradient(90deg, #c2a959 0%, #f9efb4 48.33%, #c2a959 98.16%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            text-align: center;
        }
    }
}


.select-box.active {
    opacity: 1;
    display: block;

    animation-name: none;
  }
  

// select боксы
.select-box {
    position: relative;
    display: block;

    
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: var(--gray-65);
    
    width: 180px;


    
    
    &__current {
      position: relative;
      border: 1px solid #b8a23e;

      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      color: var(--gray);

      padding: 16px;

      cursor: pointer;
      outline: none;

      transition: .2s ease;


      /* Отключение выделения текста */
      
      user-select: none; /* Современные браузеры */
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */

      @media (max-width:1440px) {
        padding: 14px 20px 14px 20px;
      }
      @media (max-width:1099px) {
        padding: 12px 16px 12px 16px;
      }
      @media (max-width:567px) {
        padding: 16px 24px
      }
      @media (max-width:467px) {
        padding: 12px 8px;
      }
      
      &.active {

            &:focus {
                transition: .2s ease;
                color: var(--gray);
                background-color: #242424;
                border-color: #b8a23e;
                border-bottom: 1px solid transparent;

            & + .select-box__list {
                opacity: 1;
        
                // Нам нужно установить "animation-name: none;", чтобы сделать список видимым (прочтите ниже, как это работает)
        
                animation-name: none;
                
                .select-box__option {
                  cursor: pointer;
                }
              }
            }

            .select-box__icon {
                transform: translateY(-50%) rotate(180deg);
              }
      }

      &:hover {
        transition: .2s ease;
        color: var(--black);
        border-color: #b8a23e;
        background: linear-gradient(90deg, #c2a959 0%, #f9efb4 48.33%, #c2a959 98.16%);

        .select-box__icon {
            path {
                transition: .2s ease;
                stroke: var(--dark-blue);
                box-shadow: 0 0 1px var(--dark-blue);
            }
        }
      }

      &:focus {
        
        
        
      }
    }
    
    &__icon {
      position: absolute;
      top: 47.5%;
      right: 8px;
      transform: translateY(-50%);
      width: 20px;
      
      transition: 0.2s ease;

        path {
            transition: .2s ease;
        }
    }
    
    &__value {
      display: flex;
    }
    
    &__input {
      display: none;
      
      &:checked + .select-box__input-text {
        display: block;
      }
    }
    
    &__input-text {
      display: none;
      width: 100%;
      margin: 0;
      
     
    }
    
    &__list {
      position: absolute;
      width: 100%;
      padding: 0;
      list-style: none;
      opacity: 0;
      margin: 0;

        // Нам нужно использовать анимацию с задержкой.
        // В противном случае событие клика не успеет сработать на метке, потому что этот элемент мгновенно исчезает, когда элемент .select-box__current теряет фокус.
        // Эта задержка не будет заметна, потому что мы устанавливаем "opacity" в "0".
        // Мы также используем "animation-fill-mode: forwards", чтобы список оставался скрытым.
      
      animation-name: HideList;
      animation-duration: 0.5s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: step-start;
      box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
    }
    
    &__option {
      display: block;

      background-color: #242424;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      color: var(--gray);

      border: 1px solid #b8a23e;;


      padding: 16px;

      @media (max-width:767px) {
        padding: 13px;
      }
      @media (max-width:467px) {
        padding: 11px;
      }


      
      &:hover,
      &:focus {
        color: var(--dark-blue);
        background: linear-gradient(90deg, #c2a959 0%, #f9efb4 48.33%, #c2a959 98.16%);
      }
    }
  }
  
  @keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }





.form__checkbox {
    display: none;

    & + .form__checkbox-label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        user-select: none;
        
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 16px;
            height: 16px;
            border: 1px solid #f8da5146;

            background: #e7b21248;
            transition: background 0.3s, border-color 0.3s;
        }

        &:after {
            content: '';
            position: absolute;
            left: 3px;
            top: 5px;
            width: 12px;
            height: 9px;
            
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    &:checked + .form__checkbox-label {
        &:before {
            border: 1px solid #f8da5146;

            background: #e7b21284;
        }

        &:after {
            opacity: 1;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 9" fill="none"><path d="M1 4L4.5 7.5L11.5 0.5" stroke="url(%23paint0_linear_3030_3740)" /><defs><linearGradient id="paint0_linear_3030_3740" x1="1.13462" y1="4.71113" x2="11.3654" y2="4.71113" gradientUnits="userSpaceOnUse"><stop stop-color="%23C2A959" /><stop offset="0.483255" stop-color="%23F9EFB4" /><stop offset="0.981573" stop-color="%23C2A959" /></linearGradient></defs></svg>');
        }
    }
}

.form__radio {
    display: none;

    & + .form__radio-label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        user-select: none;
        
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            border: 2px solid #90804b;
            border-radius: 50%;
            background: transparent;
            transition: background 0.3s, border-color 0.3s;
        }

        &:after {
            content: '';
            position: absolute;
            left: 5px;
            top: 50%;
            transform: translateY(-50%) scale(0);
            width: 10px;
            height: 10px;
            background: linear-gradient(90deg, #c2a959 0%, #f9efb4 48.33%, #c2a959 98.16%);; /* цвет заливки кружка при выборе */
            border-radius: 50%;
            transition: transform 0.3s;
        }
    }

    &:checked + .form__radio-label {
        &:before {

        }

        &:after {
            transform: translateY(-50%) scale(1);
        }
    }
}
