.header {
    position: absolute;
    z-index: 20;
    width: 100%;
    top: 0;

    @media (max-width:567px) {
        padding: 10px !important;
        background: var(--black);
        position: fixed;
    }
    @media (max-width:467px) {
        
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width:567px) {
            flex-direction: row-reverse;
            width: 96vw;    
        }
    }

    .logo {
        svg {
            @media (max-width:1440px) {
                width: 250px;
                height: 110px;
            }
            
            @media (max-width:991px) {
                width: 220px;
                height: 100px;
            }
            @media (max-width:567px) {
                height: 75px;
            }
        }

        &.desktop {
            @media (max-width:567px) {
                display: none;
            }
        }
        &.mobile {
            display: none;
            @media (max-width:567px) {
                display: flex;
                order: 2;
                flex: 1;
                justify-content: center;
            }
        }
    }

    &__nav {
        ul {
            list-style: none;
            display: flex;
            gap: 32px;

            @media (max-width:1660px) {
                gap: 0px;
            }

            li {
                a {
                    font-family: var(--third-family);
                    font-weight: 400;
                    font-size: 16px;
                    color: var(--white);

                    text-decoration: none;
                    position: relative;
                    padding-bottom: 4px;

                    @media (max-width:1440px) {
                        color: #000;
                        font-size: 24px;
                    }
                    @media (max-width:1280px) {
                        font-size: 22px;
                    }
                    @media (max-width:1099px) {
                        font-size: 20px;
                    }
                    @media (max-width:767px) {
                        font-size: 18px;
                    }

                    &:hover {
                        transition: .4s ease;
                        &::after {
                            opacity: 1;
                            transition: .4s ease;
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute; 
                        width: 100%;
                        height: 1px;
                        bottom: 0;
                        right: 0;
                        background-color: #fff;
                        opacity: 0;
                        transition: .4s ease;

                        @media (max-width:1440px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 16px;

      

        @media (max-width:1440px) {
            flex: 1;
            justify-content: flex-end;
            margin-right: 32px;
        }
        @media (max-width:1099px) {
            gap: 8px;
            margin-right: 16px;
        }
        @media (max-width:567px) {
            flex: unset;
        }
        

        & >:not(.header__tel) {
           

            @media (max-width:800px) {
                display: none;
            }
        }

        a {
            text-decoration: none;

            transition: .2s ease;

            &:hover {
                transition: .2s ease;

                svg {
                    transition: .2s ease;
                    path {
                        &:first-of-type {
                            transition: .2s ease;
                            fill: #c2a959;
                        }
                        &:not(:first-of-type) {
                            transition: .2s ease;
                            fill: #fff;
                        }
                    }
                    
                }
                svg {
                    &:last-of-type {
                       path:first-of-type {
                        transition: .2s ease;
                        fill: #c2a959 !important;
                       }
                    }
                }
            }

            svg {
                transition: .2s ease;
                path {
                    transition: .2s ease;
                }
            }
        }
    }
    &__tel {
        margin-left: 8px;

        @media (max-width:567px) {
            display: none;
        }

        a {
            font-family: var(--second-family);
            font-weight: 500;
            font-size: 17px;
            line-height: 188%;
            letter-spacing: -0.03em;
            color: var(--white);

            transition: .2s ease;
            
            &:hover {
               
                transition: .2s ease;
               
                background: linear-gradient(90deg, #c2a959 0%, #f9efb4 48.33%, #c2a959 98.16%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .whatsapp-mobile {
        display: none;
        @media (max-width:567px) {
            display: flex;
            order: 1;
        }
    }




    // вторая версия шапки, инверсия
    &.secondary {

        position: relative;

        @media (max-width:567px) {
            position: fixed;
        }

        .nav__link  {
            color: #242424;

            transition: .2s ease;
            &:hover {
                transition: .2s ease;
                color: #c2a959;
                
            }

            &::after {
                content: '';
                background-color: #c2a959 !important;
                border-width: 2px;

            }
        }
        
        .header__links {
            gap: 0;

            a:first-of-type {
                svg {
                    margin: -10px;
                }
            }

            svg {
                g {
                    width: 38px;
                    height: 38px;
                    
                }
            }

            a {
                &:hover {
                    transition: .2s ease;
                    svg {
                        path:first-of-type {
                            transition: .2s ease;
                            stroke: #c2a959;
                            stroke-width: 1px;
                        }
                    }
                }
                &:nth-child(4) {
                    &:hover {
                        transition: .2s ease;
                        svg {
                            path {
                                stroke: #c2a959;
                            } 

                            rect {
                                fill:#c2a959;
                            }
                            
                            g {
                                path:nth-child(2) {
                                    fill: #c2a959;
                                }
                            }
                        }
                    }
                    
                    
                }
                &:nth-child(5) {
                    &:hover {
                        transition: .2s ease;
                        svg {
                            fill: #c2a959;
                            path {
                                
                                fill: #fff !important;
                            } 
                            rect {
                                stroke: #fff;
                            }
                            
                        }
                    }
                }
            }

            .header__tel {
                a {
                    transition: 1s ease;
                    color: #242424;
                }
            }
        }
    }

    
    
}













.nav__list {
	display: flex;
	align-items: center;
	margin: 0;

    @media (max-width:1440px) {
        display: flex;
       
        margin-top: 60px;
    }
}

.nav__item:not(:first-child) {
	margin-left: 20px;
}

.nav__item {
	position: relative;
	padding: 15px 0;
}

.nav__link--drop::after {
	content: "";
	width: 10px;
	height: 10px;
	background-image: url("../download.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 5px;
	transition: transform 0.3s;
}





.mobile-back {
	display: none;
}

.dropdown-list__item {
	margin-bottom: 10px;
}

.dropdown-submenu__list-item {
	margin-bottom: 10px;
}

@media (min-width: 769px) {
	.nav__link--drop:hover::after {
		transform: rotate(180deg);
		transition: all 0.3s;
	}

	.nav__item:hover .nav__list--dropdown {
		visibility: visible;
		opacity: 1;
		transition: all 0.3s;
	}
}

.burger {

	cursor: pointer;
	background-color: transparent;
	border: none;
	position: relative;
	display: none;
}



.burger::after {
	top: auto;
	bottom: 0;
}

.burger span {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: 2px;
	display: inline-block;
	background-color: #000;
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.5);
	z-index: 0;
	opacity: 0;
	visibility: hidden;

    transition: 1s ease;
}

.lock {
	overflow: hidden;
}

.nav__logo-mobile {
    display: none;
    @media (max-width:1440px) {
        display: flex;
        margin-bottom: 24px;
    }
}

.nav__tel-mobile {
    display: none;

    a {
        width: fit-content;
        height: fit-content;

        &:not(:first-of-type) {
            margin-top: 16px;
            font-weight: 500;
            font-family: var(--second-family);
        }
    }

    @media (max-width:1440px) {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1440px) {
	.burger {
		display: block;
        @media (max-width:567px) {
            order: 3;
        }
	}

	.mobile-back {
		display: block;
	}

	.header {
		padding: 15px 0;
	}

	.nav {
		position: fixed;
		left: 0;
		top: 0;
		max-width: 400px;
		width: 80%;
		height: 100vh;
		z-index: 200;
		box-shadow: 5px 0 15px -5px rgba(0,0,0, 0.8);
		background-color: #fff;
		transform: translateX(-150vw);
		overflow-x: hidden;
		overflow-y: auto;

        transition: 1s ease;

        border-radius: 0 18px 18px 0;

        @media (max-width:1280px) {
            border-radius: 0 32px 32px 0;
        }

        &.open {
            transform: translateX(0);
            transition: all .6s;
        }
	}

	.nav__list {
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
		padding-top: 10%;
		position: relative;
	}

	.nav__item {
		margin-left: 0 !important;
		font-size: 20px;
		width: 100%;
		padding: 0;
		position: static;
        margin-bottom: 24px;
	}

	.nav__link,
	.dropdown-submenu__list-item a,
	.dropdown-list__link {
		padding: 20px 30px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	.nav__link::after {
		transform: rotate(-90deg);
	}

	.nav__list--dropdown {
		position: absolute;
		top: 0;
		right: auto;
		left: 100%;
		box-shadow: none;
		width: 100%;
		display: none;
	}

	.dropdown-submenu__item {
		width: 100%;
		padding: 0;
		border: none !important;
	}

	.dropdown-submenu__title {
		padding: 0 30px;
	}

	.dropdown-submenu__banner {
		display: inline-block;
		padding: 20px;
	}

	.nav__list.transformation {
		transform: translateX(-100%);
		transition: all 0.3s;
	}

	.nav__list--dropdown.transformation {
		opacity: 1;
		visibility: visible;
		display: block;
		transform: none;
		background-color: #fff;
		transition: all 0.3s;
	}

	

	.overlay.open {
		opacity: 1;
		visibility: visible;
		transition: all 0.3s;
	}

	.mobile-back a {
		position: relative;
		border: none;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.mobile-back a::before {
		content: "";
		width: 10px;
		height: 10px;
		background-image: url("../download.svg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: inline-block;
		margin-right: 10px;
		transform: rotate(90deg);
	}
}


.overlay.open {
    display: block;
    transition: 1s ease;
}