:root {
	--black: #242424;
	--white: #fafafa;
	--gray: #f2f2f2;
	--golden-main-golden: #f8d851;
	--golden-light-golden: #e7b012;
	--golden-gg: #e7b012;
	--1: #fff;
}


:root {
    --font-family: "Raleway", sans-serif;
    --second-family: "Montserrat", sans-serif;
    --third-family: "Lora", sans-serif;
    --font3: "Inter", sans-serif;
    --font4: "El Messiri", sans-serif;
    --font5: "Lexend", sans-serif;
    --font6: "Bahnschrift", sans-serif;
  }